{% extends "basicLayout.html" %}
{% block body %}
	
    		<div class="row">
				<div class="col-md-4">
					<h1>Categories</h1>
					<br/><br/>
					{% for category in categories %}
					<a href="{{url_for('ListItems',category_name=category.name)}}">{{category.name}}</a>
		
					<br/>
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% if 'username' in session %}
						<a href="{{url_for('CreateItem')}}">Add Item</a>
					<h1>Latest Items</h1>
					<br/><br/>
					{% for item,category in latestitemsUser %}
						
						
						<a href="{{url_for('ItemDescription',category_name=category.name, item_name= item.name)}}">{{item.name}} </a>({{category.name}})
						
					<br/>
					{% endfor %}
					{% else %}
					<h1>Latest Items</h1>
					<br/><br/>
					{% for item,category in latestitems %}
						
						
						<a href="{{url_for('ItemDescription',category_name=category.name, item_name= item.name)}}">{{item.name}} </a>({{category.name}})
						
					<br/>
					{% endfor %}

					{% endif %}
				

				</div>
			</div>
{% endblock %}
		