<html>
	<head>
		<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
		</script>
		<script src = "https://apis.google.com/js/client:platform.js?onload=start" async defer>
		</script>
	</head>
	<body>
		<div id="gsigninText">
			<h2 style="font-family: serif;"> Use your google+ account to login to application</h2>
		</div>
		<div id="signinButton">
			<span class="g-signin"
				  data-scope="openid email"
				  data-clientid="461124103073-qt9i73uojd9ilfu2fe9b6l23a0mudo5s.apps.googleusercontent.com"
				  data-redirecturi = "postmessage"
				  data-accesstype="offline"
				  data-cookiepolicy="single_host_origin"
				  data-callback="signInCallBack"
				  data-approvalprompt="force">
			</span>
		
		</div>
		<div id="result"></div>

		<script>
			function signInCallBack(authResult){
				if(authResult['code']){
					$('#gsigninText').attr('style','display:none');
					$('#signinButton').attr('style','display:none');
					$.ajax({
						type : 'POST',
						url: '/gconnect?state={{STATE}}',
						processData: false,
						data : authResult['code'],
						contentType : 'application/octet-stream;charset=utf-8',
						success : function(result){
							if(result){
								$('#result').html('Login Successful!! </br>' + result + '</br>Redirecting...')
								setTimeout(function(){window.location.href="/";},4000);
							}
							else if(authResult['error']){
								console.log('There was an error : ' + authResult['error']);
							}
							else{
								$('#result').html('Failed to make a server-side call')
							}
						}

					});
				}
			}
			

		</script>
	
	
	</body>

</html>